<ion-view view-title="My Notes" ng-controller="ListCtrl">
  <ion-content overflow-scroll="false">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doScreenRefresh()">
    </ion-refresher>
    <ion-list show-reorder="reordering">
      <ion-item
        class="item-remove-animate item-icon-right"
        href="#/edit/{{note._id}}"
        ng-repeat="note in notes track by note._id">
        <h2>{{note.title}}</h2>
        <p>{{note.description}}</p>
        <i class="icon ion-ios-arrow-right"></i>
        <ion-reorder-button
          class="ion-drag"
          on-reorder="move(note, $fromIndex, $toIndex)"></ion-reorder-button>
        <ion-option-button
          side="left"
          class="button-assertive icon-left ion-trash-a"
          ng-click="remove(note._id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <a
      href="#/add"
      class="button button-balanced icon-left ion-plus-circled">
       New Note
    </a>
    <button class="button button-assertive icon-left ion-trash-a"
    ng-click="removeAll()">
      Remove All</button>
  </ion-footer-bar>
</ion-view>
