<ion-view view-title="My Zap - Rooms" ng-controller="ListCtrl">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-person">
      {{user}}
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doScreenRefresh()">
    </ion-refresher>
    <ion-list show-reorder="reordering">
      <ion-item
        class="item-remove-animate item-icon-right"
        ng-repeat="room in rooms track by room._id">

        <h2>{{room.title}}</h2>
        <p>{{room.description}}</p>
        <i class="icon ion-ios-arrow-right"></i>

        <ion-option-button
          side="left"
          class="button-assertive icon-left ion-trash-a"
          ng-click="remove(room._id)">
        </ion-option-button>

        <ion-option-button
          class="button-positive icon-left ion-edit"
          ng-click='$state.go("edit", {roomId: room._id})'>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <a
      href="#/add"
      class="button button-balanced icon-left ion-plus-circled">
      New Room
    </a>
    <button class="footer-middle-button button button-assertive icon-left ion-trash-a"
            ng-click="removeAll()">
      Remove All
    </button>
    <button class="button button-calm icon-left ion-log-out"
            ng-click="logout()">
      Logout
    </button>
  </ion-footer-bar>
</ion-view>
