<ion-view view-title="Login">
  <ion-content>
    <div class="list card">
      <div class="item item-input">
        <input type="text" placeholder="Username" ng-model="credentials.user">
      </div>
      <div class="item item-input">
        <input type="password" placeholder="Password" ng-model="credentials.password">
      </div>
    </div>
    <div class="card" ng-show=errorMsg>
      <div class="item item-text-wrap assertive">
        {{errorMsg}}
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive"
              ng-click="login()">Sign in
      </button>
    </div><div class="padding">
      <button class="button button-block button-balanced"
              ng-click="signup()">Sign up
      </button>
    </div>
  </ion-content>
</ion-view>
