<ion-view view-title="ItaloZap - Login">
  <ion-content>
    <div class="list card">
      <div class="item item-input">
        <input type="text" placeholder="Username" ng-model="credentials.user">
      </div>
      <div class="item item-input">
        <input type="password" placeholder="Password" ng-model="credentials.password">
      </div>
    </div>
    <div class="padding bootstrap-namespace">
      <div class="alert alert-danger" ng-show=errorMsg>{{errorMsg}}</div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive icon-left ion-log-in"
              ng-click="login()">Sign in
      </button>
    </div>
    <div class="padding">
      <button class="button button-block button-balanced icon-left ion-person-add"
              ng-click="signup()">Sign up
      </button>
    </div>
  </ion-content>
</ion-view>
